### Here our Results

In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [29]:
#we want to organize the data in tvclusters into a dataframe and sort by actor


# Read the text file into a DataFrame
tv_clusters = pd.read_csv('data/MovieSummaries/tvtropes.clusters.txt', sep='\t', header=None, names=['trope', 'details'])

# Parse the JSON string in the 'details' column and expand it into separate columns
tv_clusters = tv_clusters.join(tv_clusters['details'].apply(json.loads).apply(pd.Series))

# Drop the 'details' column as it's no longer needed
tv_clusters.drop(columns=['details'], inplace=True)

# Display the DataFrame


tv_clusters_char = tv_clusters.sort_values(by='char')

tv_clusters_char = tv_clusters_char.reset_index(drop=True)

tv_clusters_char

,trope,char,movie,id,actor
0,pupil_turned_to_evil,Aaron Hallam,The Hunted,/m/03ls4jv,Benicio del Toro
1,dirty_cop,Abel Turner,Lakeview Terrace,/m/02tb650,Samuel L. Jackson
2,loveable_rogue,Abu,The Thief of Bagdad,/m/0k6nkk,Sabu Dastagir
3,byronic_hero,Achilles,Troy,/m/0k7ckp,Brad Pitt
4,junkie_prophet,Agatha,Minority Report,/m/0k0pgt,Samantha Morton
...,...,...,...,...,...
496,loveable_rogue,Wolverine,X-Men,/m/0k86q4,Hugh Jackman
497,big_man_on_campus,Woody Deane,It's a Boy Girl Thing,/m/02vc983,Kevin Zegers
498,eccentric_mentor,Yoda,Star Wars Episode V: The Empire Strikes Back,/m/02sg6hm,Frank Oz
499,warrior_poet,Zohan,You Don't Mess with the Zohan,/m/03hqx35,Adam Sandler
500,father_to_his_men,Zordon,Mighty Morphin' Power Rangers: The Movie,/m/0k0nmw,Nicholas Bell

In [ ]:
# try to get the movies with sequels